Language: Cpp
BasedOnStyle: Google

ColumnLimit: 80
IndentWidth: 2

PointerAlignment: Left

# AlignConsecutiveAssignments:
#   Enabled: true
#   AcrossComments: true
#   AcrossEmptyLines: false
#   AlignCompound: true
#   PadOperators: true

# AlignConsecutiveDeclarations:
#   Enabled: true
#   AcrossEmptyLines: true
#   AcrossComments: true
#   AlignCompound: true
#   PadOperators: true
