Language: Cpp
BasedOnStyle: Google

SortIncludes: Never
ReflowComments: false

ColumnLimit: 100
IndentWidth: 2

DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Pointer

Cpp11BracedListStyle: true

AllowShortEnumsOnASingleLine: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true

BinPackParameters: false
BinPackArguments: false
PackConstructorInitializers: Never


AlignConsecutiveBitFields:
  Enabled: true
  AcrossComments: true
  AcrossEmptyLines: true
  AlignCompound: true
  PadOperators: true

AlignConsecutiveAssignments:
  Enabled: true
  AcrossComments: true
  AcrossEmptyLines: true
  AlignCompound: true
  PadOperators: true

AlignArrayOfStructures: Left

FixNamespaceComments: true


# AlignConsecutiveDeclarations:
#   Enabled: true
#   AcrossEmptyLines: false
#   AcrossComments: true
#   AlignCompound: false
#   PadOperators: false
