Language: Cpp
BasedOnStyle: Google

SortIncludes: Never
ReflowComments: false

ColumnLimit: 80
IndentWidth: 2

DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Pointer

# AlignConsecutiveAssignments:
#   Enabled: true
#   AcrossComments: true
#   AcrossEmptyLines: false
#   AlignCompound: false
#   PadOperators: false

# AlignConsecutiveDeclarations:
#   Enabled: true
#   AcrossEmptyLines: false
#   AcrossComments: true
#   AlignCompound: false
#   PadOperators: false
